In [52]:
import pandas as pd
PATH = 'names/'
years = [1900, 1950, 2000]

In [143]:
def names_top3(years):
    collums = ['Name','Gender','Count']
    for year in years:
        if year == years[0]:
            names_all = pd.read_csv('{}yob{}.txt'.format(PATH, year), names=collums)
        else:
            names_next = pd.read_csv('{}yob{}.txt'.format(PATH, year), names=collums)
            names_all = pd.merge(names_all, names_next, on=['Name', 'Gender'], suffixes=('_a', year)).head(10)
    
    names_by_year = {}
    for year in years:
        names_by_year[year] = pd.read_csv('{}yob{}.txt'.format(PATH, year), names=collums)
    names_all = pd.concat(names_by_year, names=['Year', 'Pos'])
    return names_all.head(3)

names_top3(years)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>Name</th>
      <th>Gender</th>
      <th>Count</th>
    </tr>
    <tr>
      <th>Year</th>
      <th>Pos</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="3" valign="top">1900</th>
      <th>0</th>
      <td>Mary</td>
      <td>F</td>
      <td>16707</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Helen</td>
      <td>F</td>
      <td>6343</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Anna</td>
      <td>F</td>
      <td>6114</td>
    </tr>
  </tbody>
</table>
</div>

In [153]:
def count_gender_of_year(years):
    collums = ['Name','Gender','Count']
    for year in years:
        read_file_csv = pd.read_csv(PATH + "yob" + str(year) + ".txt", names=collums)
        man = read_file_csv[read_file_csv.Gender == "M"].Count.sum()
        woman = read_file_csv[read_file_csv.Gender == "F"].Count.sum()
        print('Year: {}. Count of man: {}. Count of woman {}.'.format(year, man, woman))

count_gender_of_year(years)

Year: 1900. Count of man: 150490. Count of woman 299822.
Year: 1950. Count of man: 1791474. Count of woman 1713450.
Year: 2000. Count of man: 1962556. Count of woman 1814738.